.root {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  padding: 10px 16px;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  list-style: none;
  background-color: #ffffff;
  border-style: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: color 100ms;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
